/* Reset e Estilo Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(black,blue) ;
    color: #fff;
    line-height: 1.6;
    text-align: justify;
}

/* Cabeçalho */
header {
    background-color:#e97b4e;
    padding: 15px;
    text-align: center;
}
header a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

/* Títulos */

h1 {
    color: #007bff;
    text-align: center;
    animation: blink-animation 1s steps(5, start) infinite;
}

/* Definindo o keyframes para o efeito de piscar */
@keyframes blink-animation {
    50% {
        visibility: hidden;  /* Torna o texto invisível na metade da animação */
    }
}

h2{
    color: #e97b4e;
    text-align: center;
}

p{
    color: white;
    text-align: justify;
    margin-bottom: 10px;
    margin: 0 15px;

}

h3{
    color: white;
    text-align: justify;
    margin-bottom: 10px;
    margin: 0 10px;
}

h4{
    color: white;
    text-align: center;
    margin-bottom: 10px;
    margin: 0 10px;
}

/* Parágrafos e Listas */
p, ul {
    font-size: 1.1em;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    margin-bottom: 10px;
}
ul li {
    margin-bottom: 10px;
    color: white;
    text-align: justify;
    font-weight: bold;
    margin-bottom: 20px;
    margin: 0 15px;
}

li{
    l li {
        margin-bottom: 10px;
        color: white;
        text-align: justify;
        font-weight: bold;
        margin-bottom: 20px;
        margin: 0 15px;
    }
}

/* Imagens */

.apresentacao__imagem {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0, 15px;
    
}



/* Rodapé */
/* Estilos para o footer */

footer {
    background-color:#ff6600; 
    text-align: center;  /* Centraliza o conteúdo do footer */
    color: #fff;
    padding: 15px;  /* Espaçamento interno */
    max-width: 100%;
}

/* Estilos para as imagens dentro do footer */
.footer__imagem {
    max-width: 3%;  /* Define a largura máxima das imagens */
    height: auto;   /* Mantém a altura proporcional */
    margin: 0 px; /* Adiciona um espaçamento horizontal entre as imagens */
    transition: transform 0.3s ease; /* Efeito de transição suave */
}

/* Efeito de hover nas imagens */
.footer__imagem:hover {
    transform: scale(1.1);  /* Aumenta a imagem um pouco ao passar o mouse */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    footer {
        padding: 15px 0;  /* Ajusta o padding para telas menores */
    }

    .footer__imagem {
        max-width: 15%; /* Aumenta a largura das imagens em telas menores */
        margin: 0 5px;  /* Ajusta o espaçamento entre as imagens */
    }
}


a {
    color: #ff6600; /* Cor padrão do link */
  }
  
  a:hover {
    color: blue; /* Cor quando o mouse passa sobre o link */
  }
  
  a:active {
    color: white; /* Cor quando o link é clicado */
  }